.container-line{
    color: #393E52;
    letter-spacing: -0.5px;
    border-left: 2px solid;
    margin-left: 20px;
    padding: 20px 15px;
    border-image: linear-gradient(#00DBDE, #FC00FF) 1;
    line-height: 1.1;
   }

.ce-toolbar__content, .ce-block__content{
    max-width: 90% !important;
}